.allDisplay{
    background-color: rgb(179, 197, 229);
    margin: 10%;
}
.title{
    text-align:center;
    background-color: rgb(78, 75, 186);
    color: white;
}

.introduce{
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 100px;
}

.picture{
width: 150px;
height: 150px;
float:right;
background-color: white;
}

.subTitle{
    font-size: 20pt;
    background-color: blue;
    color: white;
}

.text{
    line-height: 1.5em;
    font-size: 18px;
}
